* {
  margin: 0px;
  padding: 0px;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 8vh 9vw 5vh;
  background-size: cover;
  background-position: center top;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  #app {
    padding: 20px;
  }
}

/* mobile */
@media only screen and (max-width: 450px) {
  #app {
    padding: 18px;
  }
}
